<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="display-4">Welcome the Car Rental</h1>
      <p class="lead">
        <%= link_to "Luxe Cars", cars_path, class: "btn btn-primary" %>
      </p>
    </div>
    <div class="home">
      <div class="image-container">
        <img src="https://images.unsplash.com/photo-1616422285623-13ff0162193c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dm9pdHVyZSUyMGF1ZGl8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" width="300", height="150" alt="Random car image" class="img-thumbnail">
        <img src="https://images.unsplash.com/photo-1580273916550-e323be2ae537?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dm9pdHVyZSUyMGJtd3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60"width="300", height="150" alt="Random car image" class="img-thumbnail">
        <img src="https://images.unsplash.com/photo-1514316454349-750a7fd3da3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWVyY2VkZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" width="300", height="150" alt="Random car image" class="img-thumbnail">
        <img src="https://images.unsplash.com/photo-1620891549027-942fdc95d3f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGVzbGElMjBjYXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" width="300", height="10" alt="Random car image" class="img-thumbnail">
      </div>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
